In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [70]:
from google.colab import files
 
 
uploaded = files.upload()

Saving tested.csv to tested (3).csv

In [93]:
import io
 
df = pd.read_csv(io.BytesIO(uploaded['tested.csv']))
print(df)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

In [94]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [96]:
df['Cabin'].unique()

array([nan, 'B45', 'E31', 'B57 B59 B63 B66', 'B36', 'A21', 'C78', 'D34',
       'D19', 'A9', 'D15', 'C31', 'C23 C25 C27', 'F G63', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C101', 'C55 C57', 'B71', 'C46', 'C116',
       'F', 'A29', 'G6', 'C6', 'C28', 'C51', 'E46', 'C54', 'C97', 'D22',
       'B10', 'F4', 'E45', 'E52', 'D30', 'B58 B60', 'E34', 'C62 C64',
       'A11', 'B11', 'C80', 'F33', 'C85', 'D37', 'C86', 'D21', 'C89',
       'F E46', 'A34', 'D', 'B26', 'C22 C26', 'B69', 'C32', 'B78',
       'F E57', 'F2', 'A18', 'C106', 'B51 B53 B55', 'D10 D12', 'E60',
       'E50', 'E39 E41', 'B52 B54 B56', 'C39', 'B24', 'D28', 'B41', 'C7',
       'D40', 'D38', 'C105'], dtype=object)

In [97]:

df.drop(columns=['PassengerId','Name','Cabin','Ticket'],inplace = True)

In [98]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  34.5      0      0   7.8292        Q
1         1       3  female  47.0      1      0   7.0000        S
2         0       2    male  62.0      0      0   9.6875        Q
3         0       3    male  27.0      0      0   8.6625        S
4         1       3  female  22.0      1      1  12.2875        S

In [99]:
df.shape

(418, 8)

In [100]:
df.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [101]:
mean_value = df['Age'].median()
df['Age'].fillna(mean_value,inplace = True)
df.isnull().sum()
df.dropna(inplace=True)

In [102]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [103]:
df.Sex = np.where(df.Sex =="male" , 1 , 0 )

In [104]:
y = df['Survived']
y.head()

0    0
1    1
2    0
3    0
4    1
Name: Survived, dtype: int64

In [105]:
X = df.iloc[:,2:]
X.head()

   Sex   Age  SibSp  Parch     Fare Embarked
0    1  34.5      0      0   7.8292        Q
1    0  47.0      1      0   7.0000        S
2    1  62.0      0      0   9.6875        Q
3    1  27.0      0      0   8.6625        S
4    0  22.0      1      1  12.2875        S

In [112]:
from sklearn.preprocessing import LabelEncoder,StandardScaler
le = LabelEncoder()
X["Embarked"]=le.fit_transform(X['Embarked'])

In [113]:
obj = StandardScaler()
df = obj.fit_transform(df)

In [114]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=0)

In [115]:
from sklearn.neural_network import MLPClassifier
classifier = MLPClassifier(hidden_layer_sizes=(100 , 50 , 100) , max_iter = 1000 , verbose = True , learning_rate = "adaptive" )

In [116]:
classifier.fit(X_train,y_train)

Iteration 1, loss = 1.84777256
Iteration 2, loss = 0.82790845
Iteration 3, loss = 0.93106983
Iteration 4, loss = 0.93245380
Iteration 5, loss = 0.76816301
Iteration 6, loss = 0.70541317
Iteration 7, loss = 0.71694712
Iteration 8, loss = 0.72789961
Iteration 9, loss = 0.69323107
Iteration 10, loss = 0.63319893
Iteration 11, loss = 0.61178277
Iteration 12, loss = 0.63319978
Iteration 13, loss = 0.63045036
Iteration 14, loss = 0.60986584
Iteration 15, loss = 0.61583186
Iteration 16, loss = 0.61935199
Iteration 17, loss = 0.60542054
Iteration 18, loss = 0.59609206
Iteration 19, loss = 0.60264319
Iteration 20, loss = 0.59862427
Iteration 21, loss = 0.59056983
Iteration 22, loss = 0.59335750
Iteration 23, loss = 0.59138543
Iteration 24, loss = 0.58572380
Iteration 25, loss = 0.58322011
Iteration 26, loss = 0.58268262
Iteration 27, loss = 0.57941753
Iteration 28, loss = 0.57618485
Iteration 29, loss = 0.57554329
Iteration 30, loss = 0.57219031
Iteration 31, loss = 0.56896316
Iteration 32, loss = 0.56588656
Iteration 33, loss = 0.56234993
Iteration 34, loss = 0.56043386
Iteration 35, loss = 0.55705776
Iteration 36, loss = 0.55430720
Iteration 37, loss = 0.55018576
Iteration 38, loss = 0.54601454
Iteration 39, loss = 0.54117289
Iteration 40, loss = 0.53895567
Iteration 41, loss = 0.53701641
Iteration 42, loss = 0.52985013
Iteration 43, loss = 0.52641518
Iteration 44, loss = 0.52008165
Iteration 45, loss = 0.51369984
Iteration 46, loss = 0.50751957
Iteration 47, loss = 0.49932130
Iteration 48, loss = 0.49434918
Iteration 49, loss = 0.48675316
Iteration 50, loss = 0.47998160
Iteration 51, loss = 0.47122047
Iteration 52, loss = 0.46253361
Iteration 53, loss = 0.45471834
Iteration 54, loss = 0.44543763
Iteration 55, loss = 0.43358195
Iteration 56, loss = 0.41865643
Iteration 57, loss = 0.41119279
Iteration 58, loss = 0.40307490
Iteration 59, loss = 0.38932594
Iteration 60, loss = 0.38087800
Iteration 61, loss = 0.36858683
Iteration 62, loss = 0.35230246
Iteration 63, loss = 0.33993842
Iteration 64, loss = 0.32844660
Iteration 65, loss = 0.31669006
Iteration 66, loss = 0.30408178
Iteration 67, loss = 0.29199669
Iteration 68, loss = 0.27707187
Iteration 69, loss = 0.26944761
Iteration 70, loss = 0.25857029
Iteration 71, loss = 0.25105793
Iteration 72, loss = 0.22996096
Iteration 73, loss = 0.22181604
Iteration 74, loss = 0.20847823
Iteration 75, loss = 0.20583832
Iteration 76, loss = 0.23191341
Iteration 77, loss = 0.21155062
Iteration 78, loss = 0.20456257
Iteration 79, loss = 0.18804730
Iteration 80, loss = 0.19323153
Iteration 81, loss = 0.18171398
Iteration 82, loss = 0.17664447
Iteration 83, loss = 0.16481977
Iteration 84, loss = 0.14039822
Iteration 85, loss = 0.15208978
Iteration 86, loss = 0.13411772
Iteration 87, loss = 0.11424401
Iteration 88, loss = 0.11656142
Iteration 89, loss = 0.11813711
Iteration 90, loss = 0.10719051
Iteration 91, loss = 0.09577063
Iteration 92, loss = 0.10228797
Iteration 93, loss = 0.08340283
Iteration 94, loss = 0.07819792
Iteration 95, loss = 0.07618607
Iteration 96, loss = 0.07016236
Iteration 97, loss = 0.06532819
Iteration 98, loss = 0.06626286
Iteration 99, loss = 0.06147591
Iteration 100, loss = 0.05912853
Iteration 101, loss = 0.06223133
Iteration 102, loss = 0.05187715
Iteration 103, loss = 0.04767961
Iteration 104, loss = 0.04378293
Iteration 105, loss = 0.04381187
Iteration 106, loss = 0.03978272
Iteration 107, loss = 0.03878233
Iteration 108, loss = 0.03889071
Iteration 109, loss = 0.03556276
Iteration 110, loss = 0.03487891
Iteration 111, loss = 0.03355961
Iteration 112, loss = 0.03197359
Iteration 113, loss = 0.02791215
Iteration 114, loss = 0.02689627
Iteration 115, loss = 0.02535691
Iteration 116, loss = 0.02527145
Iteration 117, loss = 0.02277902
Iteration 118, loss = 0.02371247
Iteration 119, loss = 0.02079552
Iteration 120, loss = 0.02222497
Iteration 121, loss = 0.01948370
Iteration 122, loss = 0.01906782
Iteration 123, loss = 0.01813332
Iteration 124, loss = 0.01740245
Iteration 125, loss = 0.01657553
Iteration 126, loss = 0.01590971
Iteration 127, loss = 0.01506285
Iteration 128, loss = 0.01392104
Iteration 129, loss = 0.01294987
Iteration 130, loss = 0.01253133
Iteration 131, loss = 0.01195611
Iteration 132, loss = 0.01157141
Iteration 133, loss = 0.01102639
Iteration 134, loss = 0.01076429
Iteration 135, loss = 0.01037511
Iteration 136, loss = 0.01015018
Iteration 137, loss = 0.00969662
Iteration 138, loss = 0.00945375
Iteration 139, loss = 0.00907506
Iteration 140, loss = 0.00864419
Iteration 141, loss = 0.00850099
Iteration 142, loss = 0.00810062
Iteration 143, loss = 0.00788569
Iteration 144, loss = 0.00758492
Iteration 145, loss = 0.00719131
Iteration 146, loss = 0.00702063
Iteration 147, loss = 0.00667447
Iteration 148, loss = 0.00651525
Iteration 149, loss = 0.00621866
Iteration 150, loss = 0.00586179
Iteration 151, loss = 0.00601682
Iteration 152, loss = 0.00620846
Iteration 153, loss = 0.00540671
Iteration 154, loss = 0.00571741
Iteration 155, loss = 0.00539455
Iteration 156, loss = 0.00491989
Iteration 157, loss = 0.00491750
Iteration 158, loss = 0.00451044
Iteration 159, loss = 0.00458655
Iteration 160, loss = 0.00418427
Iteration 161, loss = 0.00408532
Iteration 162, loss = 0.00389749
Iteration 163, loss = 0.00375299
Iteration 164, loss = 0.00367737
Iteration 165, loss = 0.00352464
Iteration 166, loss = 0.00346521
Iteration 167, loss = 0.00324880
Iteration 168, loss = 0.00320380
Iteration 169, loss = 0.00301817
Iteration 170, loss = 0.00288908
Iteration 171, loss = 0.00283597
Iteration 172, loss = 0.00272117
Iteration 173, loss = 0.00262394
Iteration 174, loss = 0.00266290
Iteration 175, loss = 0.00258717
Iteration 176, loss = 0.00244069
Iteration 177, loss = 0.00238440
Iteration 178, loss = 0.00230108
Iteration 179, loss = 0.00220797
Iteration 180, loss = 0.00206869
Iteration 181, loss = 0.00190774
Iteration 182, loss = 0.00180082
Iteration 183, loss = 0.00172572
Iteration 184, loss = 0.00167243
Iteration 185, loss = 0.00165191
Iteration 186, loss = 0.00158669
Iteration 187, loss = 0.00154251
Iteration 188, loss = 0.00150119
Iteration 189, loss = 0.00143957
Iteration 190, loss = 0.00140482
Iteration 191, loss = 0.00137994
Iteration 192, loss = 0.00129731
Iteration 193, loss = 0.00127838
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(100, 50, 100), learning_rate='adaptive',
              max_iter=1000, verbose=True)

In [117]:
classifier.score(X_test , y_test)

1.0

In [118]:
classifier.score(X_train,y_train)

1.0

In [119]:
y_pred = classifier.predict(X_test)
y_pred[:5]

array([1, 0, 1, 1, 1])

In [120]:
from sklearn.metrics import classification_report
print(classification_report(y_test , y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        43
           1       1.00      1.00      1.00        41

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84